{% extends "layout.html" %}
{% block title %}
Homepage &mdash; Omniventry
{% endblock %}

{% block section_title %}
Index Homepage
{% endblock %}

{% block section_lead %}
Data is what you need to do analytics, Information is what you need to do business.
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        <div class="card pb-3">
            <div class="card-body mb-5">
                <div class="page-error">
                    <div class="page-inner">
                        <h1 class="text-secondary" style="font-size: 100px;">COMING SOON</h1>
                        <div class="page-description">
                            This page is under development and would be available soon.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}