{% extends 'layout.html' %}
{% block title %}
Create a New User &mdash; Omniventry
{% endblock %}
{% block section_title %}
Create a New User
{% endblock %}
{% block section_lead %}
To win the marketplace you must first win the workplace.
{% endblock %}
{% block head %}
<style>
    input[type=radio]{
    transform:scale(1.5);
    }
</style>
{% endblock %}

{% block main %}
<div class="container mt-2">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="card card-primary">
                <div class="card-header justify-content-center">
                    <div class="login-brand mb-2">
                        <img src="/static/img/logo.jpg" alt="logo" width="80" class="shadow-light rounded-circle">
                        <h4 class="mt-3 mb-0"> OMNIVENTRY </h4>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="frist_name">First Name</label>
                                <input id="frist_name" type="text" class="form-control" name="firstname" autofocus
                                    required>
                            </div>
                            <div class="form-group col-6">
                                <label for="last_name">Last Name</label>
                                <input id="last_name" type="text" class="form-control" name="lastname">
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label for="email">Email</label>
                                <input id="email" type="email" class="form-control" name="email">
                                <div class="invalid-feedback">
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label class="d-block mb-3">User Privilage</label>
                                <div class="selectgroup w-100">
                                    <label class="selectgroup-item">
                                      <input type="radio" name="role" value="client" class="selectgroup-input" checked>
                                      <span class="selectgroup-button">Client</span>
                                    </label>
                                    <label class="selectgroup-item">
                                      <input type="radio" name="role" value="superadmin" class="selectgroup-input">
                                      <span class="selectgroup-button">Superadmin</span>
                                    </label>
                                  </div>
                                <!-- <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineradio1" value="client"
                                        name="role" checked>
                                    <label class="form-check-label" for="inlineradio1">Client</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineradio2" value="superadmin"
                                        name="role">
                                    <label class="form-check-label" for="inlineradio2">Superadmin</label>
                                </div> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="password" class="d-block">Password</label>
                                <input id="password" type="password" class="form-control pwstrength"
                                    data-indicator="pwindicator" name="password" required>
                                <div id="pwindicator" class="pwindicator">
                                    <div class="bar"></div>
                                    <div class="label"></div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label for="password2" class="d-block">Password Confirmation</label>
                                <input id="password2" type="password" class="form-control" required
                                    name="confirm_password">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}